﻿
@{
    ViewBag.Title = "AddBudget";
}
<div class="add-budget-form">
    <h2>AddBudget</h2>

    @using (Html.BeginForm("InsertBudget", "App", FormMethod.Post))
    {
        <div>
            <input type="number" step="0.01" name="amount" />
            <input type="hidden" name="project" value=@Model.Project_Id />
            <input class="add-budget-button" type="submit" name="submitButton" value="InsertBudget" />
        </div>
        <br />

        <br />
    }

</div>