﻿@model MvcCodeFlowClientManual.Model.Project
@{
    ViewBag.Title = "AddContract";
}
<div class="form-contract">
    <h2>Contrat</h2>

    @using (Html.BeginForm("InsertContract", "App", FormMethod.Post))
    {
        <div>
            <label>Montant du contrat :</label><br/>
            <input type="number" step="0.01" name="amount" placeholder="montant en $"/><br />
            <label>Nom du contrat :</label><br />
            <input name="name" placeholder="Nom"/><br />
            <input type="hidden" name="project" value=@Model.Project_Id /><br />
            <input class="add-contract-button" type="submit" name="submitButton" value="Soumettre" />
        </div>
        <br />

        <br />
    }
</div>