﻿
@model MvcCodeFlowClientManual.Model.Project
@{
    ViewBag.Title = "AddCategory";
}

<h2>Category</h2>

@using (Html.BeginForm("InsertContract", "App", FormMethod.Post))
{
    <div>
        <input name="name" />
        <input type="hidden" name="project" value=@Model.Project_Id />
        <input type="submit" name="submitButton" value="API Call Project" />
    </div>
    <br />

    <br />
}