﻿
@{
    ViewBag.Title = "AddBudget";
}
<div class="add-contract-budget-form">
    <h2>Ajouter un budget au Contrat</h2>

    @using (Html.BeginForm("UpdateContratBudget", "App", FormMethod.Post))
    {
        <div>
            <label>Montant du budget</label><br/>
            <input type="number" step="0.01" name="amount" placeholder="Montant en $"/><br/><br />
            <input type="hidden" name="project" value=@Model.Project_Id />
            <input type="hidden" name="contract" value=@Model.Contract_Id />
            <input class="add-contract-budget-button" type="submit" name="submitButton" value="Confirmer" />
        </div>
        <br />

        <br />
    }

</div>
