﻿
@{
    ViewBag.Title = "AjouterDepense";
}

<div class="form-depense">
    <h2>Ajouter une dépense</h2>

    @using (Html.BeginForm("InsertDepense", "App", FormMethod.Post))
    {
        <div>
            <label>Montant de la dépense:</label><br />
            <input type="number" step="0.01" name="amount" placeholder="Montant en $"/><br />
            <label>Choisissez une catégorie:</label><br />

            <select name="category" id="category">
                @foreach (var category in Model.CategoryList)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            </select><br /><br />
            <input type="hidden" name="contract" value=@Model.Contract_Id />
            <input type="hidden" name="project" value=@Model.Project_Id />
            <input class="add-depense-button" type="submit" name="submitButton" value="Ajouter Dépense" />
        </div>
        <br />

        <br />
    }

    @using (Html.BeginForm("InsertCategory", "App", FormMethod.Post))
    {
        <div>
            <h2>Ajouter une catégorie</h2>
            <input name="name" placeholder="Nom de la catégorie"/><br/><br />
            <input type="hidden" name="contract" value=@Model.Contract_Id />
            <input type="hidden" name="project" value=@Model.Project_Id />
            <input class="add-depense-button" type="submit" name="submitButton" value="Ajouter Catégorie" />
        </div>
    }
</div>

