﻿@model MvcCodeFlowClientManual.Model.ProjectData
@{
    ViewBag.Title = "Project";
}

<div class="form-project">
    <h2>Choisissez votre projet:</h2>

    @using (Html.BeginForm("GetSelectedProjectId", "App", FormMethod.Post))
    {
        <div>
            <select name="project" id="project">
                @foreach (var Project in @Model.Project)
                {
                    <option value=@Project.Id>@Project.DisplayName</option>
                }
            </select>
        </div>
        <br />

        <div>
            <input class="api-call-service-button" type="submit" name="submitButton" value="Confirmer" onclick="location.href='@Url.Action("Action", "Home")?Value=' + $('#txtValue').val()" />
        </div>
        <br />

        <br />
    }
</div>



