﻿    
@{ decimal profitEstimé = 0; }
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fa fa-th-large">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/App/ApiCallService" class="nav-link align-middle px-0">
                            <i class="fa fa-th-large"></i> <span class="ms-1 d-none d-sm-inline">Projet</span>
                        </a>
                    </li>
                        <li>
                            <a href="/App/DashBoard/@Model.Project_Id" class="nav-link px-0 align-middle">
                                <i class="fa fa-th-large"></i> <span class="ms-1 d-none d-sm-inline">DashBoard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/App/BudgetUpdate/@Model.Project_Id" class="nav-link px-0 align-middle">
                                <i class="fa fa-usd"></i> <span class="ms-1 d-none d-sm-inline">Budget</span>
                            </a>
                        </li>
                    <li>
                        <a href="/App/AddContract/@Model.Project_Id" class="nav-link px-0 align-middle">
                            <i class="fa fa-plus"></i> <span class="ms-1 d-none d-sm-inline">Ajouter Contrat</span>
                        </a>
                    </li>
                    <li>
                        <a href="/App/SeeAllDepense/@Model.Project_Id" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fa fa-eye"></i> <span class="ms-1 d-none d-sm-inline">Voir Dépenses</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <!-- Main page -->
        <div class="col-md-7">
            <div class="col-md-11">
                <div class="jumbotron">
                    <h2>Liste des Contrats</h2>
                </div>
            </div>
            <div class="row">
                    
                @foreach (var contrat in Model.ProjectInformation)
                {
                    { profitEstimé = contrat.ContractAmount - contrat.BudgetContratAmount; }
                    <div class="col-md-4">
                        <div class="jumbotron">
                            <h1>@contrat.ContratName</h1>
                            <h1>@contrat.ContractAmount $</h1>
                            <h1>Budget</h1>
                            <h1>@contrat.BudgetContratAmount $</h1>
                            <h1>Profit estimé</h1>
                            <h1>@profitEstimé $</h1>
                            @using (Html.BeginForm("AddDepense", "App", FormMethod.Post))
                            {
                                <div>
                                    <input type="hidden" name="contract" value=@contrat.Contract_Id />
                                    <input type="hidden" name="project" value=@Model.Project_Id />
                                    <input class="contract-dashboard-button" type="submit" name="submitButton" value="Ajouter Dépense" />
                                </div>
                                <br />

                                <br />
                            }
                            @using (Html.BeginForm("SeeContractDepense", "App", FormMethod.Post))
                            {
                                <div>
                                    <input type="hidden" name="contract" value=@contrat.Contract_Id />
                                    <input type="hidden" name="project" value=@Model.Project_Id />
                                    <input class="contract-dashboard-button" type="submit" name="submitButton" value="Voir Dépense" />
                                </div>
                                <br />

                                <br />
                            }
                            @using (Html.BeginForm("AddContratBudget", "App", FormMethod.Post))
                            {
                                <div>
                                    <input type="hidden" name="contract" value=@contrat.Contract_Id />
                                    <input type="hidden" name="project" value=@Model.Project_Id />
                                    <input class="contract-dashboard-button" type="submit" name="submitButton" value="Ajouter Budget" />
                                </div>
                                <br />

                                <br />
                            }
                        </div>
                            
                    </div>
                        
                }
            </div>
        </div>
    </div>
</div>      
