﻿@model MvcCodeFlowClientManual.Model.SingleProjectData
@{
    ViewBag.Title = "API Call Project Response";
}
@{
    decimal totalRevenu = 0;
    decimal totalDepense = 0;
    decimal Profit = 0;
    decimal totalRevenuEstime = 0;
    decimal totalDepenseEstime = 0;
    decimal ProfitEstime = 0;
}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fa fa-th-large">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/App/ApiCallService" class="nav-link align-middle px-0">
                            <i class="fa fa-th-large"></i> <span class="ms-1 d-none d-sm-inline">Projet</span>
                        </a>
                    </li>
                    @if (@Model.Budget == 0)
                    {
                    <li>
                        <a href="/App/Budget/@Model.Project.Id" class="nav-link px-0 align-middle">
                            <i class="fa fa-usd"></i> <span class="ms-1 d-none d-sm-inline">Budget</span>
                        </a>
                    </li>
                    } else 
                    {
                        <li>
                            <a href="/App/BudgetUpdate/@Model.Project.Id" class="nav-link px-0 align-middle">
                                <i class="fa fa-usd"></i> <span class="ms-1 d-none d-sm-inline">Budget</span>
                            </a>
                        </li>
                    }
                    
                    <li>
                        <a href="/App/AddContract/@Model.Project.Id" class="nav-link px-0 align-middle">
                            <i class="fa fa-plus"></i> <span class="ms-1 d-none d-sm-inline">Ajouter Contrat</span>
                        </a>
                    </li>
                    <li>
                        <a href="/App/ContractDashboard/@Model.Project.Id" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fa fa-eye"></i> <span class="ms-1 d-none d-sm-inline">Voir Contrats</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <!-- Main page -->
        <div class="col-md-7">
            <div class="col-md-11">
                <div class="jumbotron">
                    <h2>Projet : @Model.Project.DisplayName</h2>
                </div>
            </div>
            <!-- Information QuickBook -->
            <div class="row">
                <div class="col-md-12">
                    <h1>Information financière comptabilisée</h1><br />
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        @foreach (var invoice in Model.InvoiceList)
                        {
                            { totalRevenu += @invoice.Line[0].Amount; }
                        }
                        <h2>Revenu <br />@totalRevenu $</h2>
                        @using (Html.BeginForm("InvoiceDashBoard", "App", FormMethod.Post))
                        {
                            <div>
                                <input type="hidden" name="project" value=@Model.Project.Id />
                                <input class="contract-dashboard-button" type="submit" name="submitButton" value="Revenu Détaillé" />
                            </div>
                            <br />

                            <br />
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        @foreach (var bill in Model.ProjectBill)
                        {
                            { totalDepense += @bill.Line[0].Amount; }
                        }
                        <h2>Dépense <br />@totalDepense $</h2>
                        @using (Html.BeginForm("BillDashBoard", "App", FormMethod.Post))
                        {
                            <div>
                                <input type="hidden" name="project" value=@Model.Project.Id />
                                <input class="contract-dashboard-button" type="submit" name="submitButton" value="Revenu Détaillé" />
                            </div>
                            <br />

                            <br />
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        @{ Profit = totalRevenu - totalDepense; }
                        <h2>Profit <br />@Profit $</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Information financière estimée</h1><br />
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        @foreach (var amount in Model.ListContrat)
                        {
                            { totalRevenuEstime += @amount.ContractAmount; }
                        }
                        @foreach (var contrat in Model.ProjectInformation)
                        {
                            { totalDepenseEstime += @contrat.DepenseAmount; }
                        }
                        @{ ProfitEstime = totalRevenuEstime - totalDepenseEstime; }
                        <h2>Revenu <br /> estimé <br />@totalRevenuEstime $</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h2>Dépense <br />estimé<br /> @totalDepenseEstime $</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h2>Profit <br />estimé <br /> @ProfitEstime $</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="jumbotron">
                        <h2>Buget du projet @Model.Budget $</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

