﻿
@{
    ViewBag.Title = "Tokens";
}

<br />

@foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
{

    if (@claim.Type == "access_token")
    {
        <h1>Identification réussi!</h1>

        break;
    }

}

<br />

@using (Html.BeginForm("ApiCallService", "App", FormMethod.Post))
{

    <div><input class="token-page-button" type="submit" name="submitButton" value="Continuez" /></div>
    <br />

    <br />
}

