﻿@{
    ViewBag.Title = "UpdateBudget";
}
<div class="add-budget-form">
    <h1>Votre budget est de : @Model.BudgetAmount $</h1>
    <h2>Changer votre budget </h2>

    @using (Html.BeginForm("UpdateBudget", "App", FormMethod.Post))
    {
        <div>
            <label>Montant du budget</label><br/>
            <input type="number" step="0.01" name="amount" placeholder="Montant en $"/><br/><br/>
            <input type="hidden" name="project" value=@Model.Project_Id />
            <input class="add-budget-button" type="submit" name="submitButton" value="Confirmer" />
        </div>
        <br />

        <br />
    }
</div>